# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db